html {
  scroll-behavior: smooth;
}

body {
  background-color: #efe9e4;
}

.company {
  font-size: '40px';
  line-height: '60px';
}

.dark {
  color: #1e1e1e;
}

.medium {
  color: #a17556;
}

.light {
  color: #efe9e4;
}