body {
  margin: 0;
  padding: 0;
  background-color: #efe9e4;
}

.company {
  font-size: '40px';
  line-height: '60px';
}

.company-name-outer {
  color: #1e1e1e;
}

.company-name-inner {
  color: #a17556;
}