img.tadgh {
  position: absolute;
}

img.tadgh-portrait {
  height: 400px;
  width: auto;
  bottom: 15%;
  right: -120px;
}

img.tadgh-browser {
  height: 85%;
  width: auto;
  top: 5%;
  left: 50%;
  transform: translate(-30%, 0);
}

p.desk-bio {
  position: absolute;
  top: 82%;
  margin-left: 60%;
  color: #efe9e4;
  margin-right: 10%;
}

.background-image-bridge {
  margin: 24px;
  background-size: cover;
  background-position: center;
  background-image: url('/images/med0-800x530.png');
}

.blank-divider {
  min-width: '100%';
  min-height: '50px';
}

.company-name {
  font-size: 10vh;
  line-height: 10vh;
  color: var(--dark);
  width: 100%;
  height: 100%;
}

.desk {
  position: absolute;
  background-color: var(--dark);
  min-height: 20vh;
  min-width: 100%;
  bottom: 0px;
}

.flex-normal {
  flex: 1;
}

.flexbox-full-width {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
}

.float {
  position: absolute;
  top: 10%;
  left: 10%;
}

.home-page {
  min-height: 500px;
}

.home-page-narrow {
  min-height: 800px;
}

.margin-double {
  margin: 48px;
}

.on-desk {
  position: absolute;
  left: 8%;
  bottom: 10%;
  width: 250px;
  height: 250px;
}

.padding-normal {
  padding: 24px;
}