img.MII-approval {
  width: 200px;
  height: 200px;
}

img.on-desk {
  position: absolute;
  left: 10%;
  top: 80%;
  transform: translateY(-42%);
}

img.tadgh {
  height: 90%;
  width: auto;
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-30%, 0);
}

p.desk-bio {
  position: absolute;
  top: 82%;
  margin-left: 60%;
  color: #efe9e4;
  margin-right: 10%;
}

.background-image-bridge {
  margin: 24px;
  background-size: cover;
  background-position: center;
  background-image: url('/images/med0-800x530.png');
}

.blank-divider {
  min-width: '100%';
  min-height: '50px';
}

.company-name {
  font-size: 12vh;
  line-height: 14vh;
  color: var(--dark);
}

.desk {
  position: absolute;
  background-color: var(--dark);
  min-height: 20vh;
  min-width: 100%;
  bottom: 0px;
}

.flex-normal {
  flex: 1;
}

.flexbox-full-width {
  display: flex;
  align-items: stretch;
}

.float {
  position: absolute;
  top: 10%;
  left: 10%;
}

.home-page {
  min-height: 500px;
}

.margin-double {
  margin: 48px;
}

.menu-not-so-wide {
  font-size: 48px;
  line-height: 64px;
  text-align: right;
}

.menu-wide {
  position: absolute;
  top: 10%;
  right: 5vw;
  font-size: 3vw;
  line-height: min(min(21vh, 21vw), 75) + 'px';
  text-align: right;
}

.padding-normal {
  padding: 24px;
}

.position-bio {
  position: absolute;
  top: 100%;
}
