a {
  color: #2a2a2a;
  text-decoration: underline;
  display: inline-block;
  margin-left: 8px;
  margin-right: 8px;
}

a:visited {
  color: #5c4a49;
}

a:hover {
  color: #3a7ca5;
  text-decoration: none;
}

a:active {
  color: #2d5a7d;
}

